/* CSS RESET */
*,
body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  scroll-behavior: smooth;
}
a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

input{
    border: none;
}
input:focus{
    outline: none;
}

/* BUTTON CSS */
.switchBtn {
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: 2px solid #e74c3c;
  border-radius: 0.6em;
  color: #e74c3c;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 20px;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
.switchBtn:hover,
.switchBtn:focus {
  color: #3498db;
  outline: 0;
}

.switchBtn {
  border-color: #3498db;
  color: #fff;
  box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}
.switchBtn:hover {
  box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
}

/* NAVBAR STYLING */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

section{
    margin: 0 1rem;
}

#sec1{
    display: flex;
}

#img{
    /* float: left; */
    border: 1px solid black;
    width: 200px;
    height:250px;
    text-align: center;
    padding: auto;
}
#img label{
    position: relative;
    top: 40%;
}

#data{
    margin: 1rem;
    width: 100%;
}

.formLine {
    overflow: hidden;
    display: flex;
}
.formLine input[type="text"]{
    width: 100%;
    box-sizing: border-box;
}
.formLine label {
    float: left;
    min-width: fit-content;
}
.formLine span{
    display: block;
    overflow: hidden;
    width: 100%;
    padding: 0 5px;
}

input[type="text"]{
    border-bottom: 1px solid black;
}
input[type="date"]{
    min-width: fit-content;
    margin: 0 5px;
}
/* CSS RESET */
*,
body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  scroll-behavior: smooth;
}
a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

input[type="text"]{
    border: none;
}
input[type="text"]:focus{
    outline: none;
}

/* BUTTON CSS */
.switchBtn {
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: 2px solid #e74c3c;
  border-radius: 0.6em;
  color: #e74c3c;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 20px;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
.switchBtn:hover,
.switchBtn:focus {
  color: #3498db;
  outline: 0;
}

.switchBtn {
  border-color: #3498db;
  color: #fff;
  box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}
.switchBtn:hover {
  box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
}

/* NAVBAR STYLING */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

section{
    margin: 0 1rem;
}

#sec1{
    display: flex;
}

#img{
    /* float: left; */
    border: 1px solid black;
    width: 200px;
    height:250px;
    text-align: center;
    padding: auto;
}
#img label{
    position: relative;
    top: 40%;
}

#data{
    margin: 0 1rem;
    width: 100%;
}

.formLine {
    overflow: hidden;
    display: flex;
    margin: 7px 0;
}
.formLine input[type="text"],
.formLine input[type="email"],
.formLine input[type="tel"]{
    width: 100%;
    box-sizing: border-box;
}
.formLine label {
    float: left;
    min-width: fit-content;
}
.formLine span{
    display: block;
    overflow: hidden;
    width: 100%;
    padding: 0 5px;
}

input[type="text"],input[type="email"],input[type="tel"]{
    border-bottom: 1px solid black;
}
input[type="date"]{
    min-width: fit-content;
    margin: 0 5px;
}

table,th,tr,td{
  border:1px solid darkgray;
  border-collapse: collapse;
}